<footer class="site-footer">
  <div class="footer-content">
    <p>© 2025 <b style="color:#e3bf5a">Magnificent Treasure Jewellery</b> · Crafted with 💛</p>
    <p>Follow us: 
      <a href="https://www.instagram.com" target="_blank">@mtj.official</a>
    </p>
    <p>Contact: +65 8713 2669 | magnificent.treasurejpl@gmail.com</p>
  </div>
</footer>


<!--  
<footer style="text-align:center; padding:1rem; background-color:#f5d0c5;">
    <div>
      <a href="#about">About</a> | 
      <a href="#products">Products</a> | 
      <a href="#care">Care</a> | 
      <a href="#contact">Contact</a>
    </div>
    <p>© 2025 Magnificent Treasure Jewellery<a href="https://www.instagram.com/" style="color:#c15a41;text-decoration:none;">@magnificent.treasure.jewellery</a></p>
 </footer>
-->